@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,100;1,400&display=swap');
*{
  font-family: 'Poppins',sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
 
}
:root{
  --pink-color:#ff417e;
  --second-pink:#ff86ad;
  --text-color :#ff417e;

}
/*==============Navbar ==================*/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  color: var(--text-color);
  margin-top: 30px;
}
.logo{
  width: 250px;
  text-align: center;
  
}
.logo:before{
  content:'';
  position: absolute;
  width: 240px;
  height: 200px;
  z-index: -1;
  top:-50px;
  left:-50px;
  background-color: rgba(255,65,126,0.8);
  border-radius: 50%;
}
.circle{
  content:'';
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: -10;
  top:-50px;
  left:100px;
  background: rgba(255,134,173,0.5);
  border-radius: 50%;
}
.logoimg{
  position: absolute;
  top: 0;
  left: -15px;
  margin-top: -7px;
}

.nav-list{
  display: flex;
  gap: 55px;
  color:#ff417e;
  font-weight: 600;
  cursor: pointer;

  
}
li{
  position: relative;
}
li:after{
  content: '';
  position: absolute;
  background-color: var(--pink-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom:4px;
   
}
.hover:hover::after{
  width: 100%;
  transition: all 0.2s;
}
.contact{
  background: var(--pink-color);
  padding: 8px;
  margin-top: -9px;
  color: #fff;
  border-radius: 15px;
}
.contact:hover{
  background: var(--second-pink);
}

.humburger{
    visibility: hidden;
}

/*==================Home section===============*/
.home{
  display: flex;
  gap:210px;
  height: 80vh;
  position: relative;
}
.coding-img{
  margin-top: -40px;
}
.circle2{
  content:'';
  position: absolute;
  width: 500px;
  height: 100%;
  z-index: -10;
  top:0;
  right: 0;
  background: rgba(255, 11, 88, 0.5);
  border-radius: 50% 0 0 50%;
}
.home-text{
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2px;
  color: var(--pink-color);
  
}
.hello-text{
  background: rgba(255,134,173,0.5);
  padding: 8px 25px;
  font-size: 25px;
  border-radius: 10px;
  color: #fff;
}
.me{
  font-size: 20px;
  color: var(--pink-color);
  font-weight: 400;
}
h1{
  font-size: 45px;
  margin: 0;
  font-weight: 1000;
  color: var(--pink-color);
}

h3{
  margin: 0;
  font-size: 30px;
}
.work-click{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 19px;
  background:rgba(255,65,126,0.8);
  border-radius: 5px;
  padding: 25px;
}



